<html>
<head>
  <title></title>
</head>
<body>
<%=@question.title%> <br>
<%= @question.content %>

<%@answers.each do |answer|%>
<li><%=answer.response%></a></li>
<li><%=answer.created_at%></a></li>
<li>USER: <%=answer.user.user_name%></a></li>
<li>VOTES: <%=answer.votes.count%></a></li>
<a href=""></a>
<form action="/answer/vote/add"  method="get">
  <input type="hidden" name="answer_id" value="<%=answer.id%>">
  <br>
  <input type="submit" value="VOTE UP">
</form>

<%end%>




<br>
<br>

<textarea name="response" form="userform"></textarea>
<form action="/post/question" method="post" id="userform">
<input type="hidden" name="q_id" value="<%= @question.id%>">
  <input type="submit" value="Submit">
</form>


</body>
</html>

